<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ys.etv"
    android:sharedUserId="android.uid.system"
>
    <!--android:sharedUserId="android.uid.system"-->
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.example.broadcast.permission" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PRECISE_PHONE_STATE" />

    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <permission android:name="com.guardian.service.GuardianService" />

    <uses-permission android:name="com.guardian.service.GuardianService" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--屏幕常亮，保持唤醒-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--读取帧缓存用于屏幕截图-->
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--允许程序获取当前任务-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--允许程序重新启动其他程序-->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK" />
    <!--允许使用PowerManager的 WakeLocks保持进程在休眠时从屏幕消失-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--电话呼入呼出-->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!--悬浮窗权限-->
    <uses-permission android:name="android.settings.action.MANAGE_OVERLAY_PERMISSION" />
    <!--允许一个程序广播常用intents-->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!--允许程序改变网络连接状态-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--允许程序修改全局音频设置-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--获得的位置信息-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" /><!-- 访问照像机的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /><!-- 允许挂载和移除文件系统可移动存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- 允许写扩展存储器 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.EtvApplication"
        android:allowBackup="true"
        android:icon="@mipmap/call_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.etv.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name="com.etv.activity.SettingActivity" />

        <activity android:name="com.etv.activity.PoliceActivity" />
        <activity
            android:name="com.police.activity.CallPoliceActivity"
            android:launchMode="singleInstance" />

        <activity
            android:name="com.etv.util.permission.PermissionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme_Dialog" />

        <service android:name="com.etv.service.ScreenViewService" />


        <receiver android:name="com.etv.receiver.PhoneBroadcastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.etv.receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="START_ETV_ACTION_BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ys.exit.videoapp"/>
            </intent-filter>
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MEDIA_MOUNTED"/>-->
                <!--<action android:name="android.intent.action.MEDIA_EJECT" />-->
                <!--<data android:scheme="file"/>-->
            <!--</intent-filter>-->
        </receiver>

        <meta-data
            android:name="com.etv.util.image.CustomCachingGlideModule"
            android:value="GlideModule" />

        <!--android 7.0apk安装使用-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ys.etv.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--<provider-->
        <!--android:name="com.etv.provider.TimerContentProvider"-->
        <!--android:authorities="com.etv.provider.TimerContentProvider"-->
        <!--android:exported="true" />-->

    </application>

</manifest>